[run]
omit =
    # Do not run coverage on virtual environment files
    env-kintree/*
    /home/travis/virtualenv/*
    # Do not run coverage on submodules
    database/inventree-python/*
    search/digikey_api/digikey/*