[run]
omit =
    # Do not run coverage on virtual environment files
    env-kintree/*
    .venv/*
    # Skip KiCad library tool
    kintree/kicad/schlib.py
    # Skip UI coverage
    kintree/kintree_gui.py
    kintree/common/progress.py
    # Skip wrapt_timeout_decorator
    kintree/wrapt_timeout_decorator/*
    # Skip Mouser API base files
    kintree/search/mouser/*